<mat-card>
    <mat-card-title>Novo Aluno</mat-card-title>
    <form [formGroup]="formulario" (ngSubmit)="submit()">
        <mat-form-field class="full-width ">
            <mat-label>Nome*</mat-label>
            <input formControlName="nome" matInput type="text " placeholder="Digite o nome do aluno">
            <mat-hint style="color: red;" *ngIf="
            (nome.touched || nome.dirty) && nome.invalid && nome?.errors?.required">
                Nome é obrigatório
            </mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width ">
            <mat-label>Situação</mat-label>
            <input formControlName="situacao" matInput type="text " placeholder="">
        </mat-form-field>

        <mat-card-actions>
            <button [disabled]="formulario.invalid" type="submit" mat-raised-button color="primary">Adicionar</button>
            <button type="button" mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
        </mat-card-actions>
    </form>
</mat-card>